<div class="container">
  <div class="container_header">
    <h1>Angular Element Micro Frontend Implementation</h1>
  </div>
  <div class="container_body">
    <div class="container_body_card">
      <h4>From MFE 1</h4>
      <hr />
      <app-micro-frontend-1 *axLazyElement="mfe1Url"></app-micro-frontend-1>
    </div>
    <div class="container_body_card">
      <h4>From MFE 2</h4>
      <hr />
      <app-micro-frontend-2 *axLazyElement="mfe2Url"></app-micro-frontend-2>
    </div>
  </div>
</div>
